<fieldset class="fieldset create account" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
    <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Additional Information') ?></span></legend>
    <p>
    <div class="field regulation">
        <label for="regulation" class="label"><span><?php /* @escapeNotVerified */
                echo __('Fidelity Subscription') ?></span></label>
        <div class="control">
            <input type="checkbox" value="1" name="fidelity_subscription" id="fidelity_subscription" title="<?php /* @escapeNotVerified */ echo __('Fidelity subscription') ?>" class="checkbox" data-validate="{required:false}">
        </div>
    </div>
    </p>
</fieldset>