<?php if ($block->getData('widgettitle')): ?>
    <h2 class='cloudways-title'><?php echo $block->getData('widgettitle'); ?></h2>
<?php endif; ?>
<?php if ($block->getData('widgetcontent')): ?>
    <h2 class='cloudways-content'><?php echo $block->getData('widgetcontent'); ?></h2>
<?php endif; ?>