<?php
/* @var \Codilar\HelloWorld\Block\Hello $block */
?>

<div>
	<label><?= __("Data retrieved from Block is ") ?></label>
	<h1><?= $block->getText() ?></h1>
</div>


<?php
echo $this->getLayout()
->createBlock('Magento\Cms\Block\Block')
->setBlockId('footer_links_block')
->toHtml();
?>

<?php
$cmsBlocks = $block->getCmsBlock();
foreach($cmsBlocks as $cmsBlock) {
	echo "<br/>";
	echo $cmsBlock->getId(); // get Id
	echo "<br/>";
	echo $cmsBlock->getTitle(); // get Title/name of CMS Static Block
	echo "<br/>";
	echo $cmsBlock->getIsActive();
	echo "<br/>";
	//echo "<pre>";print_r($cmsBlock->getData());
	}
?>

<?php 
    echo "<br/>";
    echo "enable: " . $block->getGeneralConfigParam('enable');
    echo "<br/>";
    echo "display_text: " . $block->getGeneralConfigParam('display_text');
    echo "<br/>";
?>