<?php
$urlInterface = \Magento\Framework\App\ObjectManager::getInstance()->get('\Magento\Store\Model\StoreManagerInterface');
$store = $urlInterface->getStore()->getCode();
$baseurl = $urlInterface->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB, true);
?>

<?php $actual_link = "$_SERVER[REQUEST_URI]"; ?>
<?php $rim = 6; ?>
<?php $actual_link_new = substr($actual_link, $rim); ?>


<?php if ($store == 'en_us') { ?>
	<select id="langchange">
		<option value="<?php echo 'us.magento2.pasticcinformatici.com/en_us' . $actual_link_new; ?>" selected>US</option>
		<option value="<?php echo 'it.magento2.pasticcinformatici.com/it_it' . $actual_link_new; ?>">IT</option>
		<option value="<?php echo 'eu.magento2.pasticcinformatici.com/en_eu' . $actual_link_new; ?>">RW</option>
	</select>
	<script type="text/javascript">
		document.querySelector('#langchange').addEventListener('change', function () {
		  location.href = "https://" + this.value;
		});
	</script>
<?php } elseif ($store == 'it_it') { ?>
	<select id="langchange">
		<option value="<?php echo 'us.magento2.pasticcinformatici.com/en_us' . $actual_link_new; ?>">US</option>
		<option value="<?php echo 'it.magento2.pasticcinformatici.com/it_it' . $actual_link_new; ?>" selected>IT</option>
		<option value="<?php echo 'eu.magento2.pasticcinformatici.com/en_eu' . $actual_link_new; ?>">RM</option>
	</select>
	<script type="text/javascript">
		document.querySelector('#langchange').addEventListener('change', function () {
		  location.href = "https://" + this.value;
		});
	</script>
<?php } else { ?>
	<select id="langchange">
		<option value="<?php echo 'us.magento2.pasticcinformatici.com/en_us' . $actual_link_new; ?>">US</option>
		<option value="<?php echo 'it.magento2.pasticcinformatici.com/it_it' . $actual_link_new; ?>">IT</option>
		<option value="<?php echo 'eu.magento2.pasticcinformatici.com/en_eu' . $actual_link_new; ?>" selected>RW</option>
	</select>
	<script type="text/javascript">
		document.querySelector('#langchange').addEventListener('change', function () {
		  location.href = "https://" + this.value;
		});
	</script>
<?php } ?>

<style>
#langchange {
    width: 60px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	float: right;
	margin-left: 15px;
	display: inline-block;
    vertical-align: middle;
    font-size: 14px;
	height: 45px;
}
</style>
