<?php
$countryList=$block->getCountries();
$regionList=$block->getRegion();  ?>
<form class="form retuns"
         	action="<?php /* @escapeNotVerified */ echo $block->getFormAction(); ?>"
         	id="return-form"
         	method="post"
         	data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>"
         	data-mage-init='{"validation":{}}'>
 
        	<div class="field country required">
                       	<label class="label" for="country"><span><?php /* @escapeNotVerified */ echo __('Country') ?></span></label>
                       	<div class="control">
                                   	<?php echo $countryList?>
                       	</div>
               </div>
 
        	 <div class="field region required">
                      	<label class="label" for="state"><span><?php /* @escapeNotVerified */ echo __('State') ?></span></label>
                      	<div class="control">
                       	<?php echo $regionList?>
                      	</div>
                      	</div>
                      	
                      	
                      	<div class="field states required" style="display:none">
                      	<label class="label" for="states"><span><?php /* @escapeNotVerified */ echo __('State') ?></span></label>
                      	<div class="control">
                       	<input name="state" id="states" title="<?php /* @escapeNotVerified */ echo __('State') ?>"  class="input-text" type="text" />
                      	</div>
                      	</div>
 
</form>
 
<script>
        	jQuery(document).on('change','#country',function() {
        	 var param = 'country='+jQuery('#country').val();
        	 jQuery.ajax({
                    	 showLoader: true,
                    	 url: '<?php /* @escapeNotVerified */ echo $block->getCountryAction(); ?>',
                    	 data: param,
                    	 type: "GET",
                    	 dataType: 'json'
        	 }).done(function (data) {
                    	 jQuery('#state').empty();
                    	 if(data.value=='')
                    	 {
                                	 jQuery('.field.states.required').show();
                                	 jQuery('.field.region.required').hide();
                    	 }
                    	 else
                    	 {
                     	 jQuery('#state').append(data.value);
                                	 jQuery('.field.states.required').hide();
                                	 jQuery('.field.region.required').show();
                    	 }
        	 });
    });
</script>